@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-background-color: rgb(10, 10, 10);
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--primary-background-color);
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: rgba(0, 255, 255, 0.8);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 45);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 60, 68);
}

:target:before {
  content: '';
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

.hoverShadow:hover {
  box-shadow: 0px 0px 20px 1px #1e40af, 0px 0px 10px 2px #38bdf8;
}

.landing_section-color_wrapper {
  background-image: radial-gradient(
    ellipse at center top,
    transparent -100%,
    var(--primary-background-color) 70%,
    var(--primary-background-color) 100%
  );
}

.landing_section-gradient_position {
  @apply <md:hidden absolute h-45vh right-52 <2xl:right-36 <xl:right-16 <lg:right-3 left-52 <2xl:left-36 <xl:left-16 <lg:left-3;
}

.section_header_indicator {
  @apply mr-1 group-hover:text-sky-300 text-sky-500 transition-colors duration-300;
}
